@import url('https://fonts.googleapis.com/css?family=Poppins:20');
body
{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   background-image:url('../../Templates/Homepage.jpeg');
   background-attachment: fixed;
   background-size: cover;
   
}
header
{
  position: relative;
  max-width: 1450px;
  margin: 20px auto;
  padding: 10px;
  background: white;
  box-sizing: border-box;
  border-radius: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0,.2);
}
h1
{
    color:white;
    margin-top: 300px;
    margin-left: 400px;
}
p{
    color:white;
    font-family:redhat display;
    line-height:2em;
    font-size: 20px;
    margin-left: 200px;
    padding-top: 50px;
    width: 1100px;
    text-align: justify;
}

nav
{
  float: right;
}
.clearfix
{
  clear: both;
}
nav ul
{
  margin: 0;
  padding: 0;
  display:flex;
}
nav ul li
{
  list-style: none;
}
nav ul li a
{
  display:block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
}
nav ul li a.active,
nav ul li a:hover
{
  background: #000000;
  color: #ffffff;
  transition: 0.5s;
}
@media (max-width: 1200px)
{
  header
  {
    margin: 20px;
  }
}
@media (max-width: 768px)
{
  .menu-toggle
  {
    display:block;
    width: 30px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #FFDF00;
  }
  .menu-toggle:before
  {
     content:'\f0c9';
     font-family: fontAwesome;
     line-height: 40px;
  }
  .menu-toggle.active:before
  {
     content: '\f00d';
  }
  nav
  {
     display:none;
  }
  nav.active
  {
     display:block;
     width: 100%;
  }
  nav.active ul
  {
     display:block;
  }
  nav.active ul li a
  {
    margin: 0;
  }
  carousal-inner{
    padding:50px 0px 10px;
    
  }
}