<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>  page </title>
  <link rel="stylesheet" type="text/css" href="../Static/css/Predict.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="menu-toggle"></div>
    <nav>
      <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="Info.html">Info</a></li>
        <li><a href="Predict.html" class="active">Predict</a></li>
      </ul>
    </nav>
    <div class="clearfix"></div>
  </header>
  <div class="h6bg">
    <h6>Parkinson Detection</h6>
</div>
  
  <h3>Parkinson Classifier</h3>
  <button class="choosebtn">Choose...</button>
  <button class="Predictbtn">Predict!</button>
</body>

</html>